#timer2 {
      font-size: 2rem;
      font-weight: bold;
    }
    #animateBox {
      width: 50px;
      height: 50px;
      background-color: red;
      margin-top: 20px;
      position: relative;
    }